/* 
.batman img{
    height: 250px;
    width: 200px;
}

.batman{
    display: flex;
    flex-direction: row;
}

p{
    font-size: 30px;
    font-weight: 700;
    width: fit-content;
    padding: 15px 30px;
    border-radius: 20px;
}

#new p{
    color: red;
}

.power{
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    width: 500px;
    text-align: center;
    align-items: center;
}

.power p{
    margin: 10px;
}

#power{
    width: 200px;
    background-color: blue;
    color: white;
}

#needed{
    width: 200px;
    background-color: green;
}

#score{
    width: 200px;
    background-color: black;
    color: white;
}

#upgrade{
    background-color: red;
} 

#yourpower{
    background-color: transparent;
    color: white;
    font-size: 50px;
}

#powerneeded{
    background-color: transparent;
    color: white;
    font-size: 50px;
}

#yourscore{
    background-color: transparent;
    color: white;
    font-size: 50px;
}

.on{
    visibility: visible;
}

.off{
    visibility: hidden;
} */

*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url("bgc.jpg");
}

.all{
    
}

.img{
    display: flex;
    justify-content: center;
    align-items: center;
}

#garen{
    position: fixed;
    top: 30%;
    height: 500px;
    width: 250px;
    max-width: 500px;
    max-height: 500px;
    cursor: pointer;
}

.hidden{
    visibility: hidden;
}

.visible{
    visibility: visible;
}

#garen2{
    position: fixed;
    top: 30%;
    height: 500px;
    width: 250px;
    max-width: 500px;
    max-height: 500px;
    cursor: pointer;
}

.menu{
    display: flex;
    flex-direction: row;
}

.score{
    display: flex;
    flex-direction: row;
    margin-left: 18px;
    margin-top: 18px;
    width: 20%;
}

.score p{
    font-size: 25px;
    font-weight: 700;
}

#yourscore{
    margin-left: 10px;
}

.abilities{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 18px 2%;
    font-size: 18px;
    font-weight: 700;
}

.abilities p{
    margin: 0 2%;
    cursor: pointer;
}

.abilities span{
    color: white;
}