/* .batman img{
    height: 250px;
    width: 200px;
}

p{
    font-size: 30px;
    font-weight: 700;
    width: fit-content;
    padding: 15px 30px;
    border-radius: 20px;
}

#new p{
    color: red;
}

.power{
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    width: 500px;
    text-align: center;
    align-items: center;
}

.power p{
    margin: 10px;
}

#power{
    width: 200px;
    background-color: blue;
    color: white;
}

#needed{
    width: 200px;
    background-color: green;
}

#score{
    width: 200px;
    background-color: black;
    color: white;
}

#upgrade{
    background-color: red;
} 

#yourpower{
    background-color: transparent;
    color: white;
    font-size: 50px;
}

#powerneeded{
    background-color: transparent;
    color: white;
    font-size: 50px;
}

#yourscore{
    background-color: transparent;
    color: white;
    font-size: 50px;
}

.off{
    visibility: hidden;
}

.on{
    visibility: visible;
} */

.img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img img{
    height: 221px;
    width: 107px;
}

.score{
    display: flex;
    flex-direction: row;
    font-size: 25px;
    font-weight: 700;
}

#yourscore{
    margin-left: 10px;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("bgc.png");
    min-height: 100%;
}

.all{
    max-height: 100vw;
}

html{
    height: 100%;
}
